.Rhistory
.RData
Rplots.pdf
Console.log
/code/.Rhistory
/code/.RData
/data/01_exposure
/data/02_tracts
/data/03_exp_tracts
/data/tmp
/raw_restricted_fake
/raw_restricted_fake2
/data/05_demog/1990
/data/05_demog/1991
/data/05_demog/1992
/data/05_demog/1993
/data/05_demog/1994
/data/05_demog/1995
/data/05_demog/1996
/data/05_demog/1997
/data/05_demog/1998
/data/05_demog/1999
/data/05_demog/2000
/data/05_demog/2001
/data/05_demog/2002
/data/05_demog/2003
/data/05_demog/2004
/data/05_demog/2005
/data/05_demog/2006
/data/05_demog/2007
/data/05_demog/2008
/data/05_demog/2009
/data/05_demog/2010
/data/05_demog/2011
/data/05_demog/2012
/data/05_demog/2013
/data/05_demog/2014
/data/05_demog/2015
/data/05_demog/2016
/data/05_demog/1990_in_2010
/data/05_demog/2000_in_2010
/data/06_dem.agr
/data/07_gbd_paf
/data/08_total_burden/ness
/data/08_total_burden
/data/09_total_burden_parsed
/data/09_total_burden_parsed/nation
/data/09_total_burden_parsed/STATEFP
/data/09_total_burden_parsed/county
/data/12_population_summary
/data/13_total_burden_rate_25+
/data/13_total_burden_rate_65+
/data/13_total_burden_rate
/data/13_total_burden_rate/STATEFP
/data/13_total_burden_rate/county
/data/14_attr_burd
/data/14_attr_burd_25+
/data/14_attr_burd_65+
/data/15_summary_25+
/data/15_summary_65+
/data/15_summary/county
.Rproj.user
PM2.5-attributable-mortality-analysis-private.Rproj