.Rproj.user
.Rhistory
.RData
.Ruserdata
exploratory_stuff/trash/15_summary/countyexploratory_stuff/trash/15_summary/attr_burd_1.csv
exploratory_stuff/trash/15_summary
exploratory_stuff/trash
.git/objects/pack/pack-f4572d00fffa04961779272ae3525a226e3ca6af.pack
data/09_total_burden_parsed/county/nvss/total_burden_nvss_2011.csv
data/09_total_burden_parsed/county/nvss
data/09_total_burden_parsed/STATEFP/nvss
data/15_summary/attr_burd_nation.csv
data/nhgis0002_ds120_1990_tract.csv
data/08_total_burden/nvss
