raw_restricted_fake
tmp
01_exposure
02_tracts
03_exp_tracts
04_exp_rr
05_demog
06_dem.agr
07_gbd_paf
09_total_burden_parsed
10_cdc_population
11_ethn_educ_population
12_population_summary
13_total_burden_rate
13_total_burden_rate_65+
14_attr_burd
14_attr_burd_65+
15_sum_higher_geog_level
16_prop_of_attr_burd
**/*before*/
output.zip
10_svi
16_sum_higher_geog_level_total
17_summary.zip
final_findreplace.csv
